﻿@model WebApplication1.Models.SlotEntry

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SlotEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-area="admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GoldNumber" class="control-label"></label>
                <input asp-for="GoldNumber" class="form-control" />
                <span asp-validation-for="GoldNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShubhlakshamiNumber" class="control-label"></label>
                <input asp-for="ShubhlakshamiNumber" class="form-control" />
                <span asp-validation-for="ShubhlakshamiNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RajashriNumber" class="control-label"></label>
                <input asp-for="RajashriNumber" class="form-control" />
                <span asp-validation-for="RajashriNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Star" class="control-label"></label>
                <input asp-for="Star" class="form-control" />
                <span asp-validation-for="Star" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slot" class="control-label"></label>
                <input asp-for="Slot" class="form-control" />
                <span asp-validation-for="Slot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
