﻿@model IEnumerable<WebApplication1.Models.SlotEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>



<p>
    <a asp-action="Create" asp-area="admin" asp-controller="slotentries">Create New</a>
</p>
<form>
    <input type="date" name="date"/ ><button>Go</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GoldNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShubhlakshamiNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RajashriNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(i=>i.Id)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoldNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShubhlakshamiNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RajashriNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Star)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
