﻿body {
    background-color:brown;
    color:#fff;
    
}

.header_bar {
    margin-bottom: 5px;
    padding: 5px;
    border: #FFEB3B 1px dashed
}
.block_header {
    padding: 10px;
    text-align: center;
    background-color: yellow;
   

}

.block_upper {
    color: #31708f;
    background-color: skyblue;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    vertical-align: middle;
    text-align:center;
}
.label-s {
    padding: 10px;
    background-color: #5cb85c;
    font-size: 23px;
}

.head_lot {
    text-transform: uppercase;
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    color:red;
}
.date_time {
    font-weight: bold;
    color: #0f0404;
    font-size: large;
}
    .date_time > .label{
        font-size:large;
    }

.body-content-main{
    color:#000;
    background:#fff;
    padding:5px;
}
.red_table {
    border:#fff 1px solid;
    text-align: center;
    background-color: red;
    color: #fff;
}
.blue_table {
    border: #fff 1px solid;
    text-align: center;
    background-color: royalblue;
    color: #fff;
}
.green_table {
    border: #fff 1px solid;
    text-align: center;
    background-color: forestgreen;
    color: #fff;
}
.cyan_table {
    border: #000 1px solid;
    text-align: center;
    background-color: cyan;
    color: #000;
}
.gold_table {
    border: #000 1px solid;
    text-align: center;
    background-color: yellow;
    color: #000;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .tt > tr > td, .tt > tbody > tr > th {
        font-size: xx-small;
    }
}
