﻿@model IEnumerable<WebApplication1.Models.SlotEntry>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-responsive tt">
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Golden
                </th>
                <th>
                    Shubhalakshmi
                </th>
                <th>
                    Rajshri
                </th>
                <th>Goa Lucky</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <th class="red_table">
                        @item.DateTime.ToString("hh:mm tt")
                    </th>
                    <th class="blue_table">
                        @item.GoldNumber
                    </th>
                    <th class="green_table">
                        @item.ShubhlakshamiNumber
                    </th>
                    <th class="cyan_table">
                        @item.RajashriNumber
                    </th>
                    <th class="gold_table">@item.Star</th>
                </tr>
            }
        </table>
    </div>
</div>
